theme "catppuccin-frappe"
default_mode "locked"
show_release_notes false
show_startup_tips false

keybinds {
    normal {
        unbind "Ctrl a"
        unbind "Ctrl e"
    }
    locked {
        bind "Alt h" { MoveFocus "left"; }
        bind "Alt j" { MoveFocus "down"; }
        bind "Alt k" { MoveFocus "up"; }
        bind "Alt l" { MoveFocus "right"; }
    }
}
