{{ if eq .profile "work" -}}
**/SIT.SMA.DevOps.DB.Sync/**
**/SIT.SMA.Generic.WebAPI.Telemetry/**
**/SIT.SMA.Generic.WebAPI.Licensing/**
**/SIT.EF.AstViewer/**
**/sit-devops-tmp/**
**/SIT.SMA.Snowpark.Samples/**
**/marketing_unified_data_model_spcs/**
**/SIT.SMA.Generic.WebAPI.Assessment/**
**/SIT.EF.SymbolTable/**
**/SIT.SMA.Generic.AssessmentMode/**
**/SIT.SMA.Scanner.GenericScanner/**
**/SIT.SMA.Generic.TelemetryMonitor/**
**/SIT.SMA.Fingerprint/**
**/SIT.SMA.Generic.Electron.CGI/**
**/SIT.SMA.Generic.CommonContracts/**
**/SIT.SMA.Generic.AssessmentModel/**
**/SIT.SMA.Generic.Utils/**
**/SIT.SMA.Generic.Controller/**
**/SIT.SMA.IAA/**
**/SIT.SMA.IAA.DB.Schema/**
**/marketing_unified_data_model_chat_bot/**
**/SIT.SMA.DesktopAutomation/**
**/SIT.SMA.SnowParkAutomation/**
**/SIT.SMA.Generic.TelemetryMonitor.Component/**
**/SIT.SMA.Desktop/**
**/SIT.SMA.Generic.UI.Licensing/**
**/SIT.SMA.Generic.Licensing/**
**/SIT.SMA.Generic.WebAPI.DataBase/**
**/SIT.SMA.Desktop.Core/**
**/SIT.EF.SQL.Scripts/**
**/SIT.EF.SQL/**
**/SIT.EF.SnowMapGrammar/**
**/SIT.SMA.Engine/**
**/SIT.SMA.Engine.Telemetry/**
**/SIT.SMA.EngineCommon/**
**/SIT.EF.R/**
**/SIT.SMA.WorkspaceEstimator.Schema/**
**/SIT.SMA.WorkspaceEstimator/**
**/SIT.Generic.InfrastructureInternal/**
**/SIT.SC.SnowConvertLimitedAccessDoc/**
**/SIT.SnowConvertForSparkInternalDoc/**
**/SIT.EvolutionFrameworkExtDoc/**
**/SIT.SC.RapidScanDoc/**
**/SIT.DesignSystemDoc/**
**/SIT.EF.Python/**
**/SIT.EF.Scala/**
**/marketing_unified_data_model/**
**/self-serve-snowflake-sit/**
**/commit-signing-enforcement/**
**/commit-signing-allowlist/**
**/commitsigning-reusable-workflow/**
{{ end -}}
