{{ if ne .profile "work" -}}
{
  "mcpServers": {}
}
{{ else -}}
{
  "mcpServers": {
    "confluence": {
      "command": "/opt/sf-cli/dist/sf",
      "args": [
        "__mcp",
        "run",
        "confluence"
      ]
    },
    "github": {
      "command": "/opt/sf-cli/dist/sf",
      "args": [
        "__mcp",
        "run",
        "github"
      ]
    },
    "glean": {
      "command": "/opt/sf-cli/dist/sf",
      "args": [
        "__mcp",
        "run",
        "glean"
      ]
    },
    "jenkins": {
      "command": "/opt/sf-cli/dist/sf",
      "args": [
        "__mcp",
        "run",
        "jenkins"
      ]
    },
    "jira": {
      "command": "/opt/sf-cli/dist/sf",
      "args": [
        "__mcp",
        "run",
        "jira"
      ]
    },
    "jira_wo": {
      "command": "/opt/sf-cli/dist/sf",
      "args": [
        "__mcp",
        "run",
        "jira_wo"
      ]
    },
    "snowhouse": {
      "command": "/opt/sf-cli/dist/sf",
      "args": [
        "__mcp",
        "run",
        "snowhouse",
        "--warehouse",
        "FASTER_DML_DT_XL_WH",
        "--role",
        "FASTER_DML_RL"
      ]
    }
  }
}
{{ end -}}
