{{- if eq .profile "work" -}}
{
  "mcpServers": {
    "confluence": {
      "command": "sf mcp run confluence"
    },
    "jira": {
      "command": "sf mcp run jira"
    },
    "snowci": {
      "command": "sf mcp run snowci"
    },
    "github": {
      "command": "sf mcp run github"
    },
    "snowhouse": {
      "command": "sf mcp run snowhouse"
    },
    "graphite": {
      "command": "sf mcp run graphite"
    },
    "glean": {
      "command": "sf mcp run glean"
    },
    "jenkins": {
      "command": "sf mcp run jenkins"
    }{{ if ne .chezmoi.os "darwin" }},
    "jvm-debug": {
      "command": "java",
      "args": [
        "--add-modules",
        "jdk.jdi",
        "-jar",
        "~/Snowflake/trunk/Varia/jvm-debug-bridge/target/jvm-debug-bridge-1.0.0-SNAPSHOT.jar"
      ]
    }{{ end }}
  }
}
{{- else -}}
{}
{{- end }}
