keybinds {
    locked {
        bind "Ctrl g" { SwitchToMode "normal"; }
        bind "Ctrl q" { Quit; }
    }
}

theme "catppuccin-mocha"
default_mode "locked"
default_layout "default"
pane_frames true
show_startup_tips false
show_release_notes false
on_force_close "quit"
